div#bigBox {
  width: 95%;
  height: 90%;
  background-color: rgb(67, 143, 214);
  border: 10px solid rgb(19, 18, 18);
  margin: 10px;
  padding: 10px;
  font-family: verdana;
  color: rgb(12, 11, 11);
  border-radius: 10px;
  text-align: center;
}